@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
@media screen and (min-width: 1200.1px) {
  body, html {
    background: #0A0613;
    background-image: url("../images/Group 4.png");
    background-attachment: fixed;
    margin: 0;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
  }
  .hyper {
    color: white;
  }
  section {
    padding: 5em;
  }
  .main_box {
    -webkit-animation: cssAnimation linear 2s;
            animation: cssAnimation linear 2s;
    opacity: 1;
    margin: 0;
    margin-top: 8em;
    padding: 1em;
    color: white;
    text-align: center;
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes cssAnimation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  .main_box .head {
    cursor: default;
    font-size: 3vw;
  }
  .main_box .name span {
    background: #0A0613;
  }
  nav {
    color: white;
    display: block;
  }
  nav ul {
    list-style-type: none;
    margin-top: -3em;
  }
  nav li a {
    color: white;
    text-decoration: none;
    font-size: 2.8em;
    display: block;
    padding: .3em;
    cursor: default;
  }
  nav li a span {
    display: inline-block;
    background: #0A0613;
    width: 200px;
  }
  nav li a span:hover {
    cursor: pointer;
    font-weight: bold;
  }
  .stars span {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 2px;
    height: 2px;
    border-radius: 5em;
    -webkit-box-shadow: 0 0 0 2px;
            box-shadow: 0 0 0 2px;
    background: white;
    -webkit-animation: animate 5s linear infinite;
            animation: animate 5s linear infinite;
    opacity: 0%;
  }
  .stars span::before {
    content: '';
    position: absolute;
    top: 10%;
    width: 200px;
    height: 0.5px;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
    background: linear-gradient(90deg, #fff, transparent);
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: rotate(340deg) translateX(0);
              transform: rotate(340deg) translateX(0);
      opacity: 25%;
    }
    15% {
      opacity: 100%;
    }
    30% {
      opacity: 60%;
    }
    35% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
    100% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: rotate(340deg) translateX(0);
              transform: rotate(340deg) translateX(0);
      opacity: 25%;
    }
    15% {
      opacity: 100%;
    }
    30% {
      opacity: 60%;
    }
    35% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
    100% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
  }
  .stars span:nth-child(1) {
    left: 20%;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  .stars span:nth-child(2) {
    left: 30%;
    top: 20%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .stars span:nth-child(3) {
    left: 30%;
    top: 60%;
    -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s;
  }
  .stars span:nth-child(5) {
    left: 70%;
    top: 50%;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .stars span:nth-child(6) {
    left: 10%;
    top: 10%;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .stars .amognus {
    position: absolute;
    width: 4%;
    height: auto;
    top: 10%;
    left: 80%;
    opacity: 0;
    -webkit-animation: animateamog 10s linear 10s;
            animation: animateamog 10s linear 10s;
  }
  @-webkit-keyframes animateamog {
    0% {
      -webkit-transform: translateX(300px) rotate(-90deg);
              transform: translateX(300px) rotate(-90deg);
      opacity: 75%;
    }
    100% {
      -webkit-transform: translateX(-2000px) rotate(-350deg);
              transform: translateX(-2000px) rotate(-350deg);
      opacity: 75%;
    }
  }
  @keyframes animateamog {
    0% {
      -webkit-transform: translateX(300px) rotate(-90deg);
              transform: translateX(300px) rotate(-90deg);
      opacity: 75%;
    }
    100% {
      -webkit-transform: translateX(-2000px) rotate(-350deg);
              transform: translateX(-2000px) rotate(-350deg);
      opacity: 75%;
    }
  }
  .About {
    background: rgba(10, 6, 19, 0.7);
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .About .brief-disc {
    line-height: 2;
    margin-bottom: 18em;
  }
  .About .brief-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5vw;
  }
  .About .self-image {
    opacity: 0.96;
  }
  .About .vienna {
    border-radius: 2em;
    background: #2d114f;
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .About .vienna .podium {
    width: 38%;
    border-radius: 2em 0 0 2em;
    height: auto;
  }
  .About .vienna .v-box {
    padding-right: 1.5em;
    margin-left: 1em;
  }
  .About .vienna .v-box h2 {
    font-size: 1.4vw;
  }
  .About .vienna .v-box ul {
    font-size: 0.9vw;
  }
  .About .vienna .v-box ul li {
    margin-top: 2em;
  }
  .About .kgsp {
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .About .kgsp .kgsp-logo {
    width: 25%;
    height: auto;
    margin-left: 10em;
    margin-right: 3em;
  }
  .About .kgsp h2 {
    font-size: 1.5vw;
  }
  .About .kgsp p {
    margin-top: -1em;
    font-size: 1vw;
    margin-right: 3em;
  }
  .About .saudi-club {
    background: #2d114f;
    margin-top: 8em;
    border-radius: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .About .saudi-club .s-c {
    width: 29%;
    height: auto;
    border-radius: 2em 0 0 2em;
  }
  .About .saudi-club .sc-box {
    margin-left: 2em;
  }
  .About .saudi-club .sc-box h2 {
    font-size: 1.3vw;
  }
  .About .saudi-club .sc-box ul {
    font-size: 1vw;
  }
  .About .saudi-club .sc-box ul li {
    margin-top: 1.7em;
  }
  .About .GSDC {
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    text-align: left;
  }
  .About .GSDC .gsdc-p {
    width: 50%;
    height: auto;
    margin-left: 4em;
  }
  .About .GSDC h2 {
    font-size: 1.3vw;
  }
  .About .GSDC .gsdc-box h2 {
    font-size: 1.3vw;
  }
  .About .GSDC .gsdc-box ul {
    font-size: 1vw;
  }
  .About .GSDC .gsdc-box ul li {
    margin-top: 1em;
  }
  .About .mhackers {
    background: #2d114f;
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 2em;
  }
  .About .mhackers .mh-p {
    width: 30%;
    height: auto;
    border-radius: 2em 0 0 2em;
  }
  .About .mhackers .mh-box {
    margin-left: 2em;
  }
  .About .mhackers .mh-box h2 {
    font-size: 1.4vw;
  }
  .About .mhackers .mh-box ul {
    padding-right: 1em;
    font-size: 1.02vw;
  }
  .About .mhackers .mh-box ul li {
    margin-top: 2em;
  }
  .projects {
    background: rgba(10, 6, 19, 0.7);
    color: white;
    text-align: center;
    /*
        .portfolio-item {
            overflow: hidden;
        }
        */
  }
  .projects .work-text {
    font-size: 4vw;
  }
  .projects .breif-projects {
    font-size: 2vw;
    margin-bottom: 3em;
  }
  .projects .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .projects .portfolio img {
    width: 80%;
    height: auto;
    border-radius: 10em;
  }
  .projects .portfolio-img {
    -webkit-transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .projects .portfolio-img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .8;
  }
  .contact {
    color: white;
    background: rgba(10, 6, 19, 0.7);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 10em;
  }
  .contact .contact-text {
    font-size: 4.5vw;
    text-align: center;
  }
  .contact ul {
    display: block;
    text-align: center;
    list-style-type: none;
    margin-right: 2em;
  }
  .contact ul span:hover {
    cursor: pointer;
    font-weight: bold;
  }
  .contact ul li {
    margin-top: 2em;
    font-size: 3.5vw;
  }
  .contact .email-text {
    font-family: 'Archivo', sans-serif;
  }
  .contact a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (max-width: 1200px) {
  body, html {
    background: #0A0613;
    background-image: url("../images/Group 4.png");
    background-attachment: fixed;
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Space Mono', monospace;
  }
  .stars span {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 2px;
    height: 2px;
    border-radius: 5em;
    -webkit-box-shadow: 0 0 0 2px;
            box-shadow: 0 0 0 2px;
    background: white;
    -webkit-animation: animate 5s linear infinite;
            animation: animate 5s linear infinite;
    opacity: 0%;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: rotate(340deg) translateX(0);
              transform: rotate(340deg) translateX(0);
      opacity: 25%;
    }
    15% {
      opacity: 100%;
    }
    30% {
      opacity: 60%;
    }
    35% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
    100% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: rotate(340deg) translateX(0);
              transform: rotate(340deg) translateX(0);
      opacity: 25%;
    }
    15% {
      opacity: 100%;
    }
    30% {
      opacity: 60%;
    }
    35% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
    100% {
      -webkit-transform: rotate(340deg) translateX(-1000px);
              transform: rotate(340deg) translateX(-1000px);
      opacity: 0%;
    }
  }
  .stars span::before {
    content: '';
    position: absolute;
    top: 10%;
    width: 200px;
    height: 0.5px;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
    background: linear-gradient(90deg, #fff, transparent);
  }
  .stars span:nth-child(1) {
    left: 20%;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  .stars span:nth-child(2) {
    left: 30%;
    top: 20%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .stars span:nth-child(3) {
    left: 30%;
    top: 60%;
    -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s;
  }
  .stars span:nth-child(5) {
    left: 70%;
    top: 50%;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .stars span:nth-child(6) {
    left: 10%;
    top: 10%;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  section {
    padding: 5em 2em;
  }
  .main_box {
    margin-top: 7em;
    color: white;
    text-align: center;
    -webkit-animation: cssAnimation linear 2s;
            animation: cssAnimation linear 2s;
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes cssAnimation {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  .main_box a {
    color: white;
    text-decoration: none;
  }
  .main_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .main_box ul li {
    margin-top: 2.7em;
  }
  .main_box span:hover {
    cursor: pointer;
    font-weight: bold;
  }
  .main_box .name {
    font-size: 2.3em;
  }
  .About {
    color: white;
  }
  .About .brief-box {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .About .brief-box .self-image {
    height: auto;
    width: 70%;
  }
  .About .vienna {
    background: #2d114f;
    margin-top: 3em;
    border-radius: 2em;
  }
  .About .vienna .podium {
    padding: 2em;
    margin: 0;
    width: 80%;
    height: auto;
    border-radius: 3em;
  }
  .About .vienna .hide2 {
    display: none;
  }
  .About .vienna .hide1 {
    display: none;
  }
  .About .vienna .hide3 {
    display: none;
  }
  .About .vienna .v-box {
    margin-top: -3em;
    padding: 1em;
  }
  .About .vienna .v-box h2 {
    font-size: 1em;
    text-align: center;
  }
  .About .vienna .v-box ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1em;
    font-size: 0.9em;
  }
  .About .kgsp {
    background: #393847;
    border-radius: 2em;
    text-align: center;
  }
  .About .kgsp .kgsp-logo {
    margin-top: -3em;
    padding: 2em;
    width: 80%;
    height: auto;
  }
  .About .kgsp .kgsp-box {
    margin-top: 2em;
    padding: 1em;
  }
  .About .kgsp .kgsp-box h2 {
    font-size: 1em;
  }
  .About .saudi-club {
    background: #2d114f;
    border-radius: 2em;
    margin-top: 2em;
  }
  .About .saudi-club .s-c {
    padding: 2em;
    margin: 0;
    width: 80%;
    height: auto;
    border-radius: 3em;
  }
  .About .saudi-club .hide4 {
    display: none;
  }
  .About .saudi-club .hide5 {
    display: none;
  }
  .About .saudi-club .sc-box {
    margin-top: -3em;
    padding: 1em;
  }
  .About .saudi-club .sc-box h2 {
    font-size: 1em;
    text-align: center;
  }
  .About .saudi-club .sc-box ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1em;
    font-size: 0.9em;
  }
  .About .GSDC {
    background: #393847;
    border-radius: 2em;
  }
  .About .GSDC .gsdc-p {
    margin-top: -2em;
    padding: 2em;
    width: 80%;
    height: auto;
  }
  .About .GSDC .gsdc-box {
    margin-top: 2em;
    padding: 1em;
  }
  .About .GSDC .gsdc-box h2 {
    font-size: 1em;
    text-align: center;
  }
  .About .GSDC .gsdc-box ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1em;
    margin-left: -2em;
    font-size: 0.9em;
  }
  .About .mhackers {
    background: #2d114f;
    border-radius: 2em;
    margin-top: 2em;
  }
  .About .mhackers .mh-p {
    padding: 2em;
    margin: 0;
    width: 80%;
    height: auto;
    border-radius: 3em;
  }
  .About .mhackers .mh-box {
    margin-top: -3em;
    padding: 1em;
  }
  .About .mhackers .mh-box h2 {
    font-size: 1em;
    text-align: center;
  }
  .About .mhackers .mh-box ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1em;
    font-size: 0.9em;
  }
  .contact {
    color: white;
    text-align: center;
    margin-bottom: 15em;
  }
  .contact .contact-text {
    font-size: 2.3em;
  }
  .contact a {
    color: white;
    text-decoration: none;
  }
  .contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
  }
  .contact ul .lnkdn {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .contact ul li {
    margin-top: 4em;
  }
  .contact .email-text {
    font-family: 'Archivo', sans-serif;
  }
}
/*# sourceMappingURL=main.css.map */