@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
body, html {
  background: #0A0613;
  background-image: url("../images/Group 4.png");
  margin: 0;
  font-family: 'Space Mono', monospace;
  scroll-behavior: smooth;
}

section {
  padding: 5em;
}

.main_box {
  -webkit-animation: cssAnimation linear 2s;
          animation: cssAnimation linear 2s;
  opacity: 1;
  margin: 0;
  margin-top: 9em;
  padding: 1em;
  color: white;
  text-align: center;
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.main_box .head {
  cursor: default;
  font-size: 3.5em;
}

.main_box .name span {
  background: #0A0613;
}

nav {
  color: white;
  display: block;
}

nav ul {
  list-style-type: none;
  margin-top: -3em;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  display: block;
  padding: .3em;
  cursor: default;
}

nav li a span {
  display: inline-block;
  background: #0A0613;
  width: 200px;
}

nav li a span:hover {
  cursor: pointer;
  font-weight: bold;
}

.stars span {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 2px;
  height: 2px;
  border-radius: 5em;
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
  background: white;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  opacity: 0%;
}

.stars span::before {
  content: '';
  position: absolute;
  top: 10%;
  width: 200px;
  height: 0.5px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
  background: linear-gradient(90deg, #fff, transparent);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(340deg) translateX(0);
            transform: rotate(340deg) translateX(0);
    opacity: 25%;
  }
  15% {
    opacity: 100%;
  }
  30% {
    opacity: 60%;
  }
  35% {
    -webkit-transform: rotate(340deg) translateX(-1000px);
            transform: rotate(340deg) translateX(-1000px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: rotate(340deg) translateX(-1000px);
            transform: rotate(340deg) translateX(-1000px);
    opacity: 0%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(340deg) translateX(0);
            transform: rotate(340deg) translateX(0);
    opacity: 25%;
  }
  15% {
    opacity: 100%;
  }
  30% {
    opacity: 60%;
  }
  35% {
    -webkit-transform: rotate(340deg) translateX(-1000px);
            transform: rotate(340deg) translateX(-1000px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: rotate(340deg) translateX(-1000px);
            transform: rotate(340deg) translateX(-1000px);
    opacity: 0%;
  }
}

.stars span:nth-child(1) {
  left: 20%;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.stars span:nth-child(2) {
  left: 30%;
  top: 20%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.stars span:nth-child(3) {
  left: 30%;
  top: 60%;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.stars span:nth-child(5) {
  left: 70%;
  top: 50%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.stars span:nth-child(6) {
  left: 10%;
  top: 10%;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.About {
  background: rgba(10, 6, 19, 0.7);
  color: white;
  text-align: justify;
}

.About .brief-about {
  font-size: 3em;
}

.About .brief-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4em;
}

.About .vienna {
  background: #2d114f;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .vienna .podium {
  width: 700px;
  height: auto;
}

.About .vienna p {
  margin-left: 3em;
  margin-right: 3em;
}

.About .kgsp {
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .kgsp .kgsp-logo {
  width: 500px;
  height: auto;
}

.About .kgsp p {
  margin-right: 3em;
}

.About .saudi-club {
  background: #2d114f;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .saudi-club .s-c {
  width: 550px;
  height: auto;
}

.About .saudi-club p {
  margin-left: 3em;
  margin-right: 3em;
}

.About .GSDC {
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .GSDC .gsdc-p {
  width: 750px;
  height: auto;
}

.About .GSDC p {
  margin-right: 3em;
}

.About .mhackers {
  background: #2d114f;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .mhackers .mh-p {
  width: 750px;
  height: auto;
}

.About .mhackers h2 {
  margin-left: 2.5em;
  margin-right: 3em;
}

.About .mhackers ul {
  margin-top: -2em;
  display: inline-block;
  margin-left: 3em;
}

.About .mhackers ul li {
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */